<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>El peliculón</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--El script del boostrap puesto con el fragments-->
    <div th:insert="components/fragments :: head"></div>

</head>
<body>
<header>

    <!-- Navbar content puesto con el fragments -->
    <div th:insert="components/fragments :: nav_bar"></div>
</header>


<!--
    <div class="container">
        <div th:each="cartelera : ${cartelera}">
            <h2 th:text="${cartelera.titulo}"></h2>
            <p th:text="${cartelera.sinopsis}"></p>
            <p th:text="${cartelera.fecha}"></p>
            <p th:text="${cartelera.nacionalidad}"></p>
            <img th:src="'/img/' + ${cartelera.imagen}">
        </div>
    </div>
-->
<div class="container">
    <!--abajo ponemos una animación de https://animate.style/ y ponemos animate__animated y el nombre de la animación-->
    <h1 class="animate__animated animate__jello">El peliculón by Cesur</h1>

    <div class="row">
        <div class="card" th:each="pelicula:${cartelera}" style="width: 18rem;">
            <img th:src="'/img/' + ${pelicula.imagen}" class="card-img-top" th:alt="'Cartel de: ' + ${pelicula.titulo}" style="height: 150px">
            <div class="card-body">
                <h5 th:text="${pelicula.titulo}" class="card-title"></h5>
                <p th:text="${pelicula.sinopsis.length < 5 ? pelicula.sinopsis.substring(0, 4) : pelicula.sinopsis.substring(0, 20)}" class="card-text"></p>
                <a th:href="'/pelicula/' + ${pelicula.id}" class="btn btn-primary">Ir a la película</a>
            </div>
        </div>
    </div>
</div>


<!-- footer y script del boostrap puesto con el fragments -->
<div th:insert="components/fragments :: footer"></div>
</body>
</html>